
* {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
}
.slide {
    position: absolute;
    width: 90%;
    height: 90%;
    opacity: 0;
    background-image: url(images/background-slide.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 5%;
    z-index: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #464545;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px 5px;
}
body {
    background-image: url(images/sobaka.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}
a:hover {
    color: tomato;
    background-color: rgb(225, 225, 225);
}
a:focus + div.div1 {
    opacity: 1;
    transition: opacity 2s;
    z-index: 1;
}
.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a:focus + .div1 img {
    position: absolute;
    width: 1000px;
    height: 667px;
    right: -1100px; 
}
.div2 {
    display: flex;
    align-items: center;
}
.div1 h1 {
    position: absolute;
    left: -1000px;
    font-size: 40px;
}
a:focus + div.div1 h1 {
    transition: transform 1s;
    transition-delay: 2s;
    transform: translateX(1150px);
}
a:focus + div.div1 img {
    transition: transform 1s;
    transition-delay: 2s;
    transform: translateX(-1100px);
}
a:focus + div.div2 {
    z-index: 1;
    opacity: 1;
    transition: opacity 1s;
}
.div2 h2 {
    font-size: 50px;
    position: absolute;
    left: 250px;
    opacity: 0;
    transform: rotate(-180deg);
}
.div2 img {
    position: absolute;
    right: 1100px;
    opacity: 0;
}
a:focus + div.div2 h2 {
    opacity: 1;
    transition: opacity 1s;
    transition: transform 1s;
    transform: rotate(360deg);
}
a:focus + div.div2 img {
    opacity: 1;
    transition: opacity 1s;
    transition: transform 1s;
    transform: translateX(1000px)
}
.div3 {
    display: flex;
    align-items: center;
    transform: rotate(250deg);
}
a:focus + div.div3 {
    opacity: 1;
    transition: opacity 2s;
    transition: transform 2s;
    z-index: 1;
    transform: rotate(0deg);
}
.div3 h2 {
    font-size: 50px;
    position: absolute;
    left: 200px;
    opacity: 0;
    transform: translateY(-1000px);
}
.div3 img {
    position: absolute;
    right: 200px;
    opacity: 0;
    width: 600px;
    height: 550px;
    transform: translate(-500px, 600px);
}
a:focus + div.div3 h2 {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 2s;
    transition: transform 1s;
    transform: translateY(0px);
}
a:focus + div.div3 img {
    opacity: 1;
    transition: opacity 1s;
    transform: translate(0px, 0px);
    transition: transform 2s;
    transition-delay: 2s;
}
.div4 {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(100deg);
}
.div4 h2 {
    font-size: 100px;
    opacity: 0;
}
a:focus + .div4 {
    opacity: 1;
    transition: opacity 2s;
    z-index: 1;
    transition: transform 1s;
    transform: rotate(0deg);
}
a:focus + .div4 h2 {
    opacity: 1;
    transition: opacity 1s;
}